@page "/leaderboard"
@inject ApiService ApiService
@inject NavigationManager _nav
@using Domain
@using Microsoft.AspNetCore.Components.QuickGrid
@using System.Globalization

<div class="content fade-in" style="justify-content: start;">
    <div class="content-header">
@* Season radio buttons *@
        <div style="display: flex; gap: 8px;">

            <div class="radio-group">
                <div class="radio-button" @onclick="@(() => SetSeason("s4"))">
                    <input type="radio" name="s4" checked="@(season == "s4")" />
                    <label for="s4">Ranked</label>
                </div>
                <div class="radio-button" @onclick="@(() => SetSeason("s4worldtour"))">
                    <input type="radio" name="s4worldtour" checked="@(season == "s4worldtour")" />
                    <label for="s4worldtour">World Tour</label>
                </div>
                <div class="radio-button" @onclick="@(() => SetSeason("s4sponsor"))">
                    <input type="radio" name="s4sponsor" checked="@(season == "s4sponsor")" />
                    <label for="s4sponsor">Sponsor</label>
                </div>
            </div>

            <Dropdown>
                <DropdownToggleButton>Old Leaderboards</DropdownToggleButton>
                <DropdownMenu>
                    <DropdownItem @onclick="@(() => SetSeason("s3worldtour"))">Season 3 World Tour</DropdownItem>
                    <DropdownItem @onclick="@(() => SetSeason("s3"))">Season 3</DropdownItem>
                    <DropdownItem @onclick="@(() => SetSeason("s2"))">Season 2</DropdownItem>
                    <DropdownItem @onclick="@(() => SetSeason("s1"))">Season 1</DropdownItem>
                    <DropdownItem @onclick="@(() => SetSeason("ob"))">Open Beta</DropdownItem>
                    <DropdownItem @onclick="@(() => SetSeason("cb2"))">Closed Beta 2</DropdownItem>
                    <DropdownItem @onclick="@(() => SetSeason("cb1"))">Closed Beta 1</DropdownItem>
                </DropdownMenu>
            </Dropdown>
        </div>
    
@* Platform radio buttons *@
        <div style="display: flex; width: 100%;">
            @if (season == "s2" || season == "s1" || season == "ob")
            {
                <div class="radio-group" style="margin-bottom: 0;">
                    <div class="radio-button" @onclick="@(() => SetPlatform("crossplay"))">
                        <input type="radio" name="crossplay" checked="@(platform == "crossplay")" />
                        <label for="crossplay">
                            <i class="bi bi-globe2" style='color: @(platform == "crossplay" ? "white" : "black")' />
                        </label>
                    </div>
                    <div class="radio-button" @onclick="@(() => SetPlatform("steam"))">
                        <input type="radio" name="steam" checked="@(platform == "steam")" />
                        <label for="steam">
                            <i class="bi bi-steam" style='color: @(platform == "steam" ? "white" : "black")' />
                        </label>
                    </div>
                    <div class="radio-button" @onclick="@(() => SetPlatform("xbox"))">
                        <input type="radio" name="xbox" checked="@(platform == "xbox")" />
                        <label for="xbox">
                            <i class="bi bi-xbox" style='color: @(platform == "xbox" ? "white" : "black")' />
                        </label>
                    </div>
                    <div class="radio-button" @onclick="@(() => SetPlatform("psn"))">
                        <input type="radio" name="psn" checked="@(platform == "psn")" />
                        <label for="psn">
                            <i class="bi bi-playstation" style='color: @(platform == "psn" ? "white" : "black")' />
                        </label>
                    </div>
                </div>
            }

@* Search bar *@
            <span style="margin-left: auto; display: flex; align-items: center;">
                <input type="text" @bind="searchString" @oninput="@(e => { searchString = e.Value?.ToString() ?? ""; })" @onkeydown="@OnInput" placeholder="Search by name" />
                <button @onclick="@(e => FetchData(searchString))">
                    <i class="bi bi-search" style="color: white;" />
                </button>
            </span>
        </div>
    </div>

@* Leaderboard grid *@
    <div class="content-area">
        @if (!loading)
        {
            <QuickGrid Items="@data" Pagination=@pagination>
                <PropertyColumn Property="@(x => x.Rank)" Sortable="true" InitialSortDirection="Microsoft.AspNetCore.Components.QuickGrid.SortDirection.Ascending" IsDefaultSortColumn="true" Align="Align.Center" />
                @if (season == "s3")
                {
                    <TemplateColumn Title="24h Change" Align="Align.Center">
                        <span style="display: flex; align-items: center; justify-content: center;">
                            @if (context.Change > 0)
                            {
                                <i class="bi bi-chevron-up" style="color: green;" />
                                <p class="m-0" style="padding-left: 5px; color: green;">@context.Change</p>
                            }
                            @if (context.Change < 0)
                            {
                                <i class="bi bi-chevron-down" style="color: red;" />
                                <p class="m-0" style="padding-left: 5px; color: red;">@context.Change.ToString().Replace("-", "")</p>
                            }
                            @if (context.Change == 0)
                            {
                                <i class="bi bi-dash" />
                                <p class="m-0" style="padding-left: 5px;">@context.Change</p>
                            }
                        </span>
                    </TemplateColumn>
                }
                <TemplateColumn Title="Name">
                    <span>
                        <p class="m-0">@context.Name</p>
                        @if (!string.IsNullOrEmpty(context.SteamName))
                        {
                            <span style="display: flex; align-items: center;">
                                <i class="bi bi-steam" />
                                <p class="m-0" style="padding-left: 5px;">@context.SteamName</p>
                            </span>
                        }
                        @if (!string.IsNullOrEmpty(context.PsnName))
                        {
                            <span style="display: flex; align-items: center;">
                                <i class="bi bi-playstation" />
                                <p class="m-0" style="padding-left: 5px;">@context.PsnName</p>
                            </span>
                        }
                        @if (!string.IsNullOrEmpty(context.XboxName))
                        {
                            <span style="display: flex; align-items: center;">
                                <i class="bi bi-xbox" />
                                <p class="m-0" style="padding-left: 5px;">@context.XboxName</p>
                            </span>
                        }
                    </span>
                </TemplateColumn>
                @if (season == "s4worldtour" || season == "s3worldtour")
                {
                    <TemplateColumn Title="Cashouts">
                        <p>@string.Format(new CultureInfo("en-us"), "{0:c}", context.Cashouts).Replace(".00", "")</p>
                    </TemplateColumn>
                }
                else if (season == "s4sponsor")
                {
                    <TemplateColumn Title="Sponsor">
                        <p>@context.Sponsor</p>
                    </TemplateColumn>
                    <TemplateColumn Title="Fans">
                        <p>@string.Format(new CultureInfo("en-us"), "{0:c}", context.Fans).Replace(".00", "").Replace("$", "")</p>
                    </TemplateColumn>
                }
                else 
                {
                    <TemplateColumn Title="League">
                        <div style="display:flex;">
                            <img style="width:3rem;" src="images/@(context.League.Replace(" ", "_")).png" /> 
                            <span style="margin-left: 5px; display: flex; flex-direction: column; justify-content: center;">
                                <p class="m-0">@context.League</p>
                                @if (context.RankScore > 0)
                                {
                                    <p class="m-0">@string.Format(new CultureInfo("en-us"), "{0:c}", context.RankScore).Replace(".00", "").Replace("$", "")</p>
                                }
                            </Span>               
                        </div>
                    </TemplateColumn>
                }
            </QuickGrid>
        }
        else
        {
@* Loading icon *@
            <span style="display: flex; align-items: center; justify-content: center; height: 100%; margin: 5rem;">
                <img style="color: black;" src="images/loader.gif" alt="Loading..." />
            </span>
        }
        @if (!loading)
        {
            <Paginator State=pagination />
            <Dropdown class="pagination-group">
                <DropdownToggleButton>@pagination.ItemsPerPage</DropdownToggleButton>
                <DropdownMenu>
                    <DropdownItem @onclick="@(() => pagination.ItemsPerPage = 10)">10</DropdownItem>
                    <DropdownItem @onclick="@(() => pagination.ItemsPerPage = 25)">25</DropdownItem>
                    <DropdownItem @onclick="@(() => pagination.ItemsPerPage = 50)">50</DropdownItem>
                    <DropdownItem @onclick="@(() => pagination.ItemsPerPage = 100)">100</DropdownItem>
                </DropdownMenu>
            </Dropdown>
        }
    </div>
    <div style="margin-top: 1rem; width: 50rem;">
        <p>This site uses a public API wrapper that can be found <a style="color: white;" href="https://github.com/leonlarsson/the-finals-api">Here!</a></p>
    </div>
</div>


@code {
    [Parameter, SupplyParameterFromQuery]
    public string season { get; set; } = "s4";

    private PaginationState pagination = new PaginationState { ItemsPerPage = 10 };
    private IQueryable<Data>? data = null;

    private string searchString = "";
    private string platform = "crossplay";
    private bool loading = false;

    protected override async Task OnInitializedAsync()
    {
        data = default;
        Console.WriteLine(season);
        await FetchData();
    }

    private async Task FetchData(string name = "")
    {
        loading = true;
        data = null;
        StateHasChanged();

        if (string.IsNullOrEmpty(season))
            season = "s4";

        string baseUrl = "https://api.the-finals-leaderboard.com/";
        string endpoint = "v1/leaderboard/" + season + "/" + platform;

        if (!string.IsNullOrEmpty(name))
            endpoint = endpoint + "?name=" + name;

        Root root = await ApiService.Get<Root>(endpoint, baseUrl);
        data = root.Data.AsQueryable();
        loading = false;
        StateHasChanged();
    }

    private async Task OnInput(KeyboardEventArgs e)
    {
        if (e.Key == "Enter" || e.Key == "NumpadEnter")
        {
            await FetchData(searchString);
        }
    }

    private async Task SetSeason(string season)
    {
        _nav.NavigateTo("/leaderboard?season=" + season);
        this.season = season;
        if (!(season == "s2" || season == "s1" || season == "ob"))
            this.platform = "crossplay";

        await FetchData(searchString);
    }

    private async Task SetPlatform(string platform)
    {
        if (season == "s2" || season == "s1" || season == "ob")
            this.platform = platform;
        else 
            this.platform = "crossplay";
        
        await FetchData(searchString);
    }
}